@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-container-about {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

.section-subheader-about {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #111827;
}

.section-header-about {
  font-size: 2rem;
  font-weight: 700;
  color: #111827; 
  line-height: 2.5rem;
}

.section-description-about {
  color: #6b7280; 
  line-height: 1.75rem;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.about__header {
  margin-bottom: 4rem;
  display: grid;
  gap: 2rem;
}

.about-grid {
  display: grid;
  grid-auto-rows: max-content;
}

.about__card {
  padding: 4rem 2rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about__card:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../public/technology.jpg");
}

.about__card:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../public/blog_card5.jpg");
}

.about__card:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../public/banner_blog.jpg");
}

.about__card p {
  margin-bottom: 0.5rem;
  color: #ffffff; 
}

.about__card h4 {
  max-width: 250px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 2rem;
}

.faq__container {
  display: grid;
  gap: 2rem;
}

.faq__image {
  overflow: hidden;
}

.faq__image img {
  max-width: 450px;
  margin-inline: auto;
}

.faq__content .section__header {
  margin-bottom: 1rem;
}

.faq__grid {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

.faq__card {
  padding: 1rem;
  display: grid;
  gap: 10px;
  background-color: #f3f4f6; 
  border: 5px;
}

.faq__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.faq__header h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #111827;
}

.faq__header span {
  font-size: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.faq__card.active .faq__header span {
  transform: rotate(180deg);
}

.faq__description {
  color: #6b7280; /* --text-light */
  display: none;
}

.faq__card.active .faq__description {
  display: block;
}

.faq__description {
  display: block !important;
}



@media (width > 768px) {
  .header__container {
    padding-block: 8rem 12rem;
  }

  .about__header {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .about__card {
    padding: 5rem 2rem;
  }

  .faq__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
